.tooltip {
  /* @apply rounded-xl max-w-lg z-10 bg-zinc-100 dark:bg-zinc-800 text-zinc-800 dark:text-zinc-100 p-2 border border-zinc-200 dark:border-zinc-700; */
  z-index: 10;
  padding: 0.5rem;
  border-radius: 0.75rem;
  border-width: 1px;
  max-width: 32rem;
  background-color: #f0f4f8;
  color: #1f2937;
  border-color: #e5e7eb;
}
.dark .tooltip {
  background-color: #1f2937;
  color: #f0f4f8;
  border-color: #374151;
}
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7f7f7f50;
  backdrop-filter: opacity(0.5) blur(5px);
  z-index: 99999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}
/* Image Container */
.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: calc(100% - 15rem);
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  min-width: 0;
  border-radius: 1rem;
}
/* if screen is mobile */
@media (max-width: 768px) {
  .img-container {
    height: auto;
  }
}

.hidden {
  display: none;
}

.close-button,
.next-button,
.prev-button {
  position: absolute;
}
.close-button:hover,
.next-button:hover,
.prev-button:hover {
  scale: 0.9;
}

.next-button {
  transform: rotate(180deg);
}

.close-button {
  top: 10px;
  right: 10px;
  background-color: #fde2e1;
  padding: 5px;
  color: #dc2625;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.closeIconSvg {
  width: 26px;
  height: 26px;
}
.nextIconSvg {
  width: 26px;
  height: 26px;
}
.prevIconSvg {
  width: 26px;
  height: 26px;
}
.close-button:hover {
  background-color: #dc2625;
  color: white;
}

.next-button {
  right: 10px;
  background-color: #f4f4f5;
  padding: 5px;
  color: #52525b;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.prev-button {
  left: 10px;
  background-color: #f4f4f5;
  padding: 5px;
  color: #52525b;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.thumbnail-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background: rgba(0, 0, 0, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumbnail-container {
  /* @apply flex justify-start items-center space-x-2 p-3 overflow-x-auto w-full; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  overflow-x: auto;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.thumbnail-container::-webkit-scrollbar {
  display: none;
}

.thumbnail {
  /* @apply w-20 h-20 cursor-pointer rounded-lg overflow-hidden relative flex-shrink-0; */
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  flex-shrink: 0;
  margin: 0 5px;
}
.thumbnail img {
  /* @apply w-full h-full object-cover; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.loading-indicator {
  width: 100%;
}
